@model CA.BusinessLogic.Contact
<div id="formContainer">
<h2> Contact Us</h2>
Thank you
@Model.FirstName,
we have received your contact information. We will contact you at
@Model.BesTimeToCall
<p>
Talk with you soon. 
</div>